<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#DB0000" />

    <link rel="icon" href="./favicon.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/192.png" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Ares | Artikel Restoran</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link anchor">Menuju ke konten</a>

    <header>
      <div class="header__inner">
        <h1 class="header__title">Ares Website</h1>
        <a id="hamburger" class="anchor" href="#">☰</a>
      </div>
      <nav id="drawer" class="nav">
        <ul class="nav_list">
          <li class="item-list"><a href="#/daftar-restorants" class="item anchor">Home</a></li>
          <li class="item-list"><a href="#/like" class="item anchor">Favorite</a></li>
          <li class="item-list"><a href="https://github.com/rizaldikurniawan" target="_blank" class="item anchor">About Us</a></li>
        </ul>
      </nav>
    </header>

    <main id="maincontent" tabindex="0">
    </main>

    <footer>
      <p id="footer">Oleh: Rizky Rizaldi Kurniawan</p>
    </footer>
  </body>
</html>
